html, body, #root, .App {
  height: 100%;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* region: .carousel */
.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel--arrow-section {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.carousel--arrow-section.left {
  left: 0;
}

.carousel--arrow-section.right {
  right: 0;
}

.carousel--content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.carousel--content.overflow {
  padding-left: 100px;
  padding-right: 100px;
}

.carousel--item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  margin-right: 10px;
  border: 1px solid #D3D3D5;
  border-radius: 2px;
}

.carousel--item:hover {
  cursor: pointer;
}

.carousel--item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  border-bottom: 0.5px solid #D3D3D5;
  overflow: hidden;
}

.carousel--item-thumbnail {
  width: 100%;
}

.carousel--item-content {
  display: flex;
  min-height: 50%;
  padding: 15px 0px 20px 0px;
  box-sizing: border-box;
}

.carousel--item-content-left {
  min-width: 17.5%;
}

.carousel--item-content-date {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #D3D3D5;
  padding-bottom: 10px;
  color: #636363;
  font-weight: 600;
}

.carousel--item-content-date-month {
  font-size: 0.8em;
}

.carousel--item-content-date-day {
  font-size: 1.3em;
}

.carousel--item-content-date-year {
  font-size: 0.8em;
}

.carousel--item-content-right {
  min-width: 82.5%;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
}

.carousel--item-content-date-time {
  font-size: 0.8em;
  font-weight: bold;
  color: #636363;
  line-height: 130%;
}

.carousel--item-content-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 0.8em;
  color: rgba(90,93,88,0.6);
  line-height: 200%;
}

.carousel--item-content-description {
  /* if line exceeds 2, show ellipsis */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 1em;
  color: #333;
  line-height: 150%;
}

.carousel--item:hover 
> .carousel--item-content 
> .carousel--item-content-right 
> .carousel--item-content-description {
  color: #56AB48;
}

.carousel--loading-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.carousel--loading-spinner {
  width: 100px;
}
/* end-region: .carousel */

/* region: .searchbar */
.searchbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
}

.searchbar--subreddit-search {
  flex: 0 0 25%;
  padding: 10px;
  border: 1px solid #d3d3d5;
  border-radius: 4px;
}

.searchbar--keyword-search {
  flex: 0 0 25%;
  padding: 10px;
  border: 1px solid #d3d3d5;
  border-radius: 4px;
}

.searchbar--date-search {
  display: flex;
  flex: 0 0 25%;
  padding-right: 10px;
  border: 1px solid #d3d3d5;
  border-radius: 4px;
  align-items: center;
  font-weight: normal;
}

.searchbar--date-search-label {
  padding: 10px;
  border-right: 1px solid #d3d3d5;
  margin-right: 10px;
}

.searchbar--date-search-input {
  flex: 1;
  border: 0px;
  height: 100%;
  border-radius: 4px;
}

.searchbar--search-button {
  display: flex;
  flex: 0 0 20%;
  padding: 10px;
  background-color: #56ab48;
  color: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #448739;
  box-shadow: 0 1px 0 rgb(255 255 255 / 18%);
}

.searchbar--search-button:hover {
  background-color: #4d9940;
}

@media screen and (max-width: 960px) {
  .searchbar {
    flex-direction: column;
  }

  .searchbar--subreddit-search {
    flex: 1;
    margin-bottom: 10px;
  }
  
  .searchbar--keyword-search {
    flex: 1;
    margin-bottom: 10px;
  }

  .searchbar--date-search {
    flex: 1;
    margin-bottom: 10px;
  }
  
  .searchbar--search-button {
    flex: 1;
    margin-bottom: 10px;
  }
}
/* end-region: .searchbar */

/* region: .arrow */
.arrow-wrapper {
  padding: 1em;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  pointer-events: all;
  cursor: pointer;
  transition: opacity 0.3s;
}

.arrow {
  /* By using an em scale, the arrows will size with the font */
  width: 0.8em;
  height: 0.8em;
  border-right: 0.3em solid white;
  border-top: 0.3em solid white;
}

.arrow.left {
  transform: translate(0.2em, 0) rotate(225deg);
}

.arrow.right {
  transform: translate(-0.2em, 0) rotate(45deg);
}
/* end-region: .arrow */

/* region: .section */
.section--searchbar {
  width: 95%;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D3D3D5;
  background-color: white;
  z-index: 1;
}

.section--carousel {
  width: 95%;
  height: 515px;
}
/* end-region: .section */

/* region: devices with hover and fine pointer (e.g. PC) */
@media (hover: hover) and (pointer: fine) {
  .carousel--arrow-section > .arrow-wrapper {
    opacity: 0;
  }
  
  .carousel:hover > .carousel--arrow-section > .arrow-wrapper {
    opacity: 0.75;
  }

  .carousel > .carousel--arrow-section > .arrow-wrapper:hover {
    opacity: 1;
  }
}
/* end-region: devices with hover and fine pointer (e.g. PC) */

/* region: generic */
.no-select {
  -webkit-tap-highlight-color: transparent;
}

.grayscale {
  filter: grayscale(100%);
}

/* region: .no-scrollbar */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* end-region: .no-scrollbar */
/* end-region: generic */